### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
total_players = len(purchase_data['SN'].unique())
df = pd.DataFrame([{'Total Players': total_players}])

In [4]:
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = purchase_data['Item ID'].unique()
unique_items = len(unique_items)
avg_price = purchase_data['Price'].mean()
purchase = purchase_data['Purchase ID'].count()
revenue = purchase_data['Price'].sum()
df = pd.DataFrame([{'Number of Unique Items': unique_items, 'Average Price': avg_price, 
                   'Number of Purchase': purchase, 'Total Revenue': revenue}])
df['Average Price'] = df['Average Price'].map("${:.2f}".format)
df['Total Revenue'] = df['Total Revenue'].map("${:,.2f}".format)
df

  Average Price  Number of Purchase  Number of Unique Items Total Revenue
0         $3.05                 780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
total = purchase_data['Gender'].count()
male = 0
female = 0
other = 0
for gender in purchase_data['Gender']:
    if gender == 'Male':
        male = male + 1
    elif gender == 'Female':
        female = female + 1
    else:
        other = other + 1
perMale = male / total
perFemale = female / total
perOther = other / total
gender = [{'Gender': 'Male', 'Total Count': male, 'Percentage of Players': perMale},
          {'Gender': 'Female', 'Total Count': female, 'Percentage of Players': perFemale},
          {'Gender': 'Other/Non-Disclosed', 'Total Count': other, 'Percentage of Players': perOther}]
df = pd.DataFrame(gender)
df['Percentage of Players'] = df['Percentage of Players'].map("{0:.2f}%".format)
df = df.set_index('Gender')
df

                    Percentage of Players  Total Count
Gender
Male                                0.84%          652
Female                              0.14%          113
Other/Non-Disclosed                 0.02%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
dft = purchase_data.drop_duplicates(subset='SN')
dft = dft.reset_index(drop=False)
dft

,index,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...,...
546,728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
547,729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
548,730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
549,731,731,Eudanu84,22,Female,12,Dawne,1.02
550,733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
551,736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
552,737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
553,738,738,Eusur90,36,Male,121,Massacre,1.60
554,739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
555,741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
556,742,742,Isty55,20,Male,5,Putrid Fan,4.08
557,743,743,Frichilsa31,15,Male,110,Suspension,1.44
558,745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
559,746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
560,748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
561,750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
562,751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
563,752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
564,753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
565,756,756,Ilast79,20,Male,73,Ritual Mace,2.05
566,757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
567,761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
568,765,765,Irith83,18,Male,130,Alpha,2.07
569,769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
570,771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
571,773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
572,774,774,Jiskjask80,11,Male,101,Final Critic,4.19
573,775,775,Aethedru70,21,Female,60,Wolf,3.54
574,777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
575,778,778,Sisur91,7,Male,101,Final Critic,4.19

In [33]:
i = 0
mCount = 0
fCount = 0
oCount = 0
mTotal = 0
fTotal = 0
oTotal = 0
for gender in purchase_data['Gender']:
    if gender == 'Male':
        mCount=mCount+1
        mTotal = mTotal + purchase_data['Price'][i]
    elif gender == 'Female':
        fCount=fCount+1
        fTotal = fTotal + purchase_data['Price'][i]
    else:
        oCount=oCount+1
        oTotal = oTotal + purchase_data['Price'][i]
    i = i + 1
mAvg = mTotal / mCount
fAvg = fTotal / fCount
oAvg = oTotal / oCount

j = 0
mPCount = 0
fPCount = 0
oPCount = 0
for gender in dft['Gender']:
    if gender == 'Male':
        mPCount = mPCount + 1
    elif gender == 'Female':
        fPCount = fPCount + 1
    else:
        oPCount = oPCount + 1
    j = j + 1
mPPAvg = mTotal / mPCount
fPPAvg = fTotal / fPCount
oPPAvg = oTotal / oPCount

print(mCount, fCount, oCount)
print(mTotal, fTotal, oTotal)
print(mAvg, fAvg, oAvg)
print(mPPAvg, fPPAvg, oPPAvg)

652 113 15
1967.6399999999994 361.93999999999966 50.190000000000005
3.0178527607361953 3.203008849557519 3.3460000000000005
4.065371900826445 4.4683950617283905 4.562727272727273

In [46]:
gender = [{'': 'Male', 'Purchase Count': mCount, 'Average Purchase Price': mAvg, 'Total Purchase Value': mTotal, 'Avg Purchase Per Person': mPPAvg},
          {'': 'Female', 'Purchase Count': fCount, 'Average Purchase Price': fAvg, 'Total Purchase Value': fTotal, 'Avg Purchase Per Person': fPPAvg},
          {'': 'Other/Non-Disclosed', 'Purchase Count': oCount, 'Average Purchase Price': oAvg, 'Total Purchase Value': oTotal, 'Avg Purchase Per Person': oPPAvg}]
df = pd.DataFrame(gender)
df['Average Purchase Price'] = df['Average Purchase Price'].map("${:.2f}".format)
df['Total Purchase Value'] = df['Total Purchase Value'].map("${:,.2f}".format)
df['Avg Purchase Per Person'] = df['Avg Purchase Per Person'].map("${:.2f}".format)
df = df.set_index('')
df = df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Purchase Per Person']]
df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Per Person
,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [89]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 130]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
dftbins = pd.cut(dft['Age'], bins, labels=bin_names)
total = dftbins.count()
bin1 = 0
bin2 = 0
bin3 = 0
bin4 = 0
bin5 = 0
bin6 = 0
bin7 = 0
bin8 = 0  
for x in dftbins:
    if x == '<10':
        bin1 = bin1 + 1
    elif x == '10-14':
        bin2 = bin2 + 1
    elif x == '15-19':
        bin3 = bin3 + 1
    elif x == '20-24':
        bin4 = bin4 + 1
    elif x == '25-29':
        bin5 = bin5 + 1
    elif x == '30-34':
        bin6 = bin6 + 1
    elif x == '35-39':
        bin7 = bin7 + 1
    elif x == '40+':
        bin8 = bin8 + 1
print(bin1, bin2, bin3, bin4, bin5, bin6, bin7, bin8) 
binCount = [{'': '<10', 'Total Count': bin1, 'Percentage of Players': bin1/total*100},
           {'': '10-14', 'Total Count': bin2, 'Percentage of Players': bin2/total*100},
           {'': '15-19', 'Total Count': bin3, 'Percentage of Players': bin3/total*100},
           {'': '20-24', 'Total Count': bin4, 'Percentage of Players': bin4/total*100},
           {'': '25-29', 'Total Count': bin5, 'Percentage of Players': bin5/total*100},
           {'': '30-34', 'Total Count': bin6, 'Percentage of Players': bin6/total*100},
           {'': '35-39', 'Total Count': bin7, 'Percentage of Players': bin7/total*100},
           {'': '40+', 'Total Count': bin8, 'Percentage of Players': bin8/total*100}]
df = pd.DataFrame(binCount)
df = df.set_index('')
df['Percentage of Players'] = df['Percentage of Players'].map("{:2f}%".format)
df

17 22 107 258 77 52 31 12

      Percentage of Players  Total Count

<10               2.951389%           17
10-14             3.819444%           22
15-19            18.576389%          107
20-24            44.791667%          258
25-29            13.368056%           77
30-34             9.027778%           52
35-39             5.381944%           31
40+               2.083333%           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame